.navBar {
  background-color: rgb(95, 95, 95);
  border: solid black;
  border-width: 2px;
  margin: 1em;
  padding: auto;
}

.logoPic {
  height: 8em;
  width: 16em;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.navbar-links {
  margin: 0;
  padding-top: 3px;
  display: inline-block;
}

.navbar-links-item {
  display: inline-block;
  margin-right: 3px;
  padding: 10px;
  color: black;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 10%;
  background-color: rgb(200, 200, 200);
  font-size: 1em;
  font-weight: bold;
}

.navbar-links-item:hover {
  background-color: rgb(221, 229, 221);
  cursor: pointer;
}
